* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.introduction {
    width: 100%;
    height: 400px;

    background-image: url(https://assets.ubuntu.com/v1/42b254a6-suru-fold.svg), linear-gradient(0deg, #48929B 0%, #2B585D 100%);
    background-size: 100%;

    display: flex;
}

.details {
    width: 60%;
    height: 100%;
    margin: 100px 0;

    color: white;
    font-weight: lighter;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.app-name {
    font-size: 3rem;
}

.app-details {
    font-size: 1.5rem;
    margin-top: 20px;
}

.download {
    width: 100%;
    margin-top: 100px;

    display: flex;
    justify-content: space-around;
}

.button {
    padding: 20px;
    color: black;
    background: white;

    border-radius: 10px;
    text-decoration: none;
 }

.icon {
    width: 35%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.icon img {
    width: 60%;
    height: 60%;
}

/* steps */

.steps {
    width: 100vw;
    height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.steps-title {
    font-size: 1.5rem;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; 
    font-weight: 200;
}

.steps-details {
    width: 100%;
    margin-top: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 200;
}

.steps-details > div {
    width: 20vw;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.steps-details > img {
    width: 24px;
    height: 24px;
}

/* features */

.features0 {
    width: 100vw;
    height: 600px;
    background: #f7f7f7;

    display: flex;
}

.features1 {
    width: 100vw;
    height: 600px;
    background: white;

    display: flex;
}

.extra-size {
    height: 800px;
}

.bill-sample {
    height: 900px;
}

.features-details {
    width: 40%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.features-title {
    font-size: 2rem;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; 
    font-weight: lighter;
}


.features-body {
    margin-top: 25px;
    margin-left: 50px;
    margin-right: 50px;

    font-size: 1.25rem;
    line-height: 2rem;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; 
    font-weight: 200;
}

.features-body li {
    margin-left: 25px;

    font-size: 1.25rem;
    line-height: 2rem;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; 
    font-weight: 200;
}

.features-image {
    width: 60%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.features0 img {
    width: 80%;
    border: 1px solid black;
}

.features1 img {
    width: 80%;
    border: 1px solid black;
}

/* footer */

.footer {
    width: 100vw;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.developer-name, .developer-email {
    font-size: 1rem;
    font-weight: lighter;
    margin-left: 20px;
}

.gitlab svg, .github svg, .linkedin svg {
    height: 25px;
    margin: 10px;
}